{% load bootstrap4 %}

<form method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-md-8">
            <h1>Modifier mon profil</h1>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-link" href="{% url 'profil' %}">Annuler</a>
            <button type="submit" class="btn btn-primary ml-2">Enregistrer</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.first_name required_css_class='required' %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.last_name required_css_class='required' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.email required_css_class='required' %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.phone_number required_css_class='required' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.address required_css_class='required' %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.zip_code required_css_class='required' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% bootstrap_field form.city required_css_class='required' %}
        </div>
        <div class="col-md-4">
            {% bootstrap_field form.country required_css_class='required' %}
        </div>
    </div>
</form>