{% extends 'persons/base_navbar.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mt-3">
            <div class="row">
                <div class="col-md-7">
                    <h1>Évenements</h1>
                </div>
                <div class="col-md-5 text-right">
                    {% if user.pk %}
                        <a class="btn btn-primary" href="{% url 'create-event' %}">Ajouter</a>
                    {% endif %}
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-md-2 d-md-block">
                    <b>Category</b>
                    <ul class="list-unstyled">
                        {% for value, label, count in category %}
                            <li>
                                {% if value == category_filter %}
                                    <span class="badge badge-pill badge-primary">{{ label }} ({{ count }})</span>
                                {% else %}
                                    <a class="badge badge-pill badge-light"
                                       href="{% url 'events' %}?category_filter={{ value }}&order_filter=



                                               {{ order_filter }}{% if query is not None %}&q={{ query }}{% endif %}">{{ label|title }}
                                        ({{ count }})</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <b>Ordre</b>
                    <ul class="list-unstyled">
                        <li>

                            <a class="badge badge-pill badge-{% if order_filter == 'event_date' %}primary{% else %}light{% endif %}"
                               href="{% url 'events' %}?category_filter={{ category_filter }}&order_filter=event_date{% if query is not None %}&q={{ query }}{% endif %}"><i
                                    class="fas fa-arrow-up"></i> Date croissant</a>
                            <a class="badge badge-pill badge-{% if order_filter == '-event_date' %}primary{% else %}light{% endif %}"
                               href="{% url 'events' %}?category_filter={{ category_filter }}&order_filter=-event_date{% if query is not None %}&q={{ query }}{% endif %}"><i
                                    class="fas fa-arrow-down"></i> Date decroissant</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8 p-0">
                    {% if filtered_events %}
                        {% for event in filtered_events %}
                            <div class="row">
                                <div class="col p-0 mb-3">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-10 d-flex align-items-center">
                                            <h3>{{ event.title|title }}
                                                ({{ event.category|title }})</h3>
                                            <span class="badge badge-pill badge-info h6">{{ event.person.person_type }}</span>
                                        </div>
                                        <div class="col-2 text-right">
                                            {% if event.person.note is not None %}
                                                {% if event.person.note >= 7 %}
                                                    <img height="25" width="25" src="{% static 'assets/good.svg' %}">
                                                {% elif event.person.note < 7 and event.person.note >= 4 %}
                                                    <img height="25" width="25" src="{% static 'assets/average.svg' %}">
                                                {% else %}
                                                    <img height="25" width="25" src="{% static 'assets/bad.svg' %}">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <p>Par {% if event.person.pk is not person.pk %}
                                        <a href="{% url 'profil-show-user' event.person.pk %}">{{ event.person.pseudo }}</a> {% else %}
                                        {{ event.person.pseudo }} {% endif %}
                                        le {{ event.event_date|date:'d/m/y à h:m' }}</p>

                                    <p>{{ event.city|title }}</p>
                                    {% if user.pk %}
                                        <a href="{% url 'description-event' event.pk %}" class="btn btn-primary">Plus de
                                            détails</a>
                                    {% endif %}
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>Il n'y a pas d'évenements pour le moment</p>
                    {% endif %}
            </div>
        </div>
    </div>

{% endblock %}