{% extends 'persons/base_navbar.html' %}
{% load leaflet_tags %}

{% block content %}


     {% leaflet_map "map" callback="window.map_init_basic"%}
    <div class="row">
        <a class="text-primary" href="{% url 'events' %}"><i class="fa fa-arrow-left"></i> retour</a>
        {% if event %}
            <div class="col p-0 mt-3 text-center">
                <h1>{{ event.title|title }} <span
                        class="badge badge-pill badge-primary">{{ event.category|title }}</span></h1>
                <p>Par {% if event.person.pk is not person.pk %}
                    <a href="{% url 'profil-show-user' event.person.pk %}">{{ event.person.pseudo }}</a> {% else %}
                    {{ event.person.pseudo }} {% endif %} le {{ event.event_date|date:'d/m/y à h:m' }}</p>
                <hr>
                <h4>Description :</h4>
                <p>{{ event.description }}</p>
                <hr>
                <h4>Lieu :</h4>
                <p>{{ event.address }}, {{ event.zip_code }}, {{ event.city }}</p>
                {% if user.pk and person.person_type != "professionnel" %}
                    {% if person != event.person %}
                        {% if is_registered %}
                            <p>Rendez-vous sur votre profil pour vous désinscrire</p>
                        {% else %}
                            <a href="{% url 'inscription-event' event.pk %}" class="btn btn-primary">s'inscrire</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    </div>
<script>
        var c_x = {{ event.coordonate_x }};
        var c_y = {{ event.coordonate_y }};
        var lat_long = [c_x, c_y]
    function map_init_basic (map, options) {
        L.marker([c_x, c_y]).addTo(map);
        map.setView(lat_long, 15);
    }
</script>

{% endblock %}