{% extends 'persons/base_navbar.html' %}

{% block content %}
    <div class="row">
        {% if events %}
            <div class="col-md-12 p-0 mt-3">
                <div class="row">
                    <h1 class="col-md-7">Évenements</h1>
                    <div class="col-md-5 text-right">
                        {% if user.pk %}
                            <a class="btn btn-primary" href="{% url 'new-event' %}">Ajouter</a>
                        {% endif %}
                    </div>
                </div>
                {% for event in events %}
                    <div class="row ">
                        <div class="col p-0">
                            <h3 class="col-md-12 p-0 mt-3">{{ event.title|title }} ({{ event.category|title }})</h3>
                            <p>Par {{ event.person.pseudo }} le {{ event.created_at|date:'d/m/y à h:m' }}</p>
                            <p>{{ event.city|title }}</p>
                            {% if user.pk %}
                                <a href="{% url 'description-event' event.pk %}" class="btn btn-primary">Plus de détails</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Il n'y a pas d'évenements pour le moment</p>
        {% endif %}
    </div>

{% endblock %}