{% load bootstrap4 %}
<form method="post">
    <div class="row my-3">
        <div class="col-8 m-auto">
            <h2>Ajouter un événement</h2>
            {% csrf_token %}
            <div>
                {% bootstrap_field form.title required_css_class='required' %}
                {% bootstrap_field form.description required_css_class='required' %}
                {% bootstrap_field form.address required_css_class='required' %}
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.zip_code required_css_class='required' %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.city required_css_class='required' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.category required_css_class='required' %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.event_date required_css_class='required' %}
                    </div>
                </div>
                <div class="text-right">
                    <a class="text-muted mr-2" href="{% url 'events' %}">Annuler</a>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </div>

        </div>
    </div>
</form>
