<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
{% load leaflet_tags %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.min.css' %}">
    {% bootstrap_javascript jquery='full' %}
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
<header>
    {% block header %}
        <div class="container">
        </div>
    {% endblock %}

</header>
<main role="main">
    <div class="container">

        {% block content %}{% endblock %}
    </div>
</main>
<footer>
    {% block footer %}

    {% endblock %}
</footer>
{% block extra_js %}
{% endblock %}
</body>
</html>