{% extends 'persons/base_navbar.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Profil{% endblock %}

{% block content %}
    <ul class="profil-tab nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profil' %}">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profil-events' %}">Mes évenements</a>
        </li>
        {% if person.person_type != "professionnel" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profil-registered_events' %}">Mes inscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profil-finished-events' %}">Mes inscriptions passées</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profil-favorite-events' %}">Mes évenements favoris</a>
            </li>
        {% endif %}
    </ul>
    <div class="row my-3">
        <div class="col-md-8">
            <div>
                <h2 class="display-1">{{ person.pseudo }}</h2>
                <p class="text-muted"> ({{ person.person_type }})</p>
            </div>
            <img class="rounded-circle mr-5" height="70" width="70" src="{{ person.imageProfil.url }}">

        </div>
        <div class="col-md-4 text-right">
            <a href="{% url 'profil-edit' %}" class="btn btn-primary"><i class="far fa-edit"></i> Modifier</a>
            <button data-toggle="modal" data-target="#delete_modal"><i class="fas fa-user-times"></i>Supprimer le
                profil</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Prénom</b>
                <br>
                {{ person.first_name }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Nom</b>
                <br>
                {{ person.last_name }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Email</b>
                <br>
                {{ person.user.email }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Anniversaire</b>
                <br>
                {{ person.birth_date|date:'j/m' }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Adresse</b>
                <br>
                {{ person.address }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Code Postale</b>
                <br>
                {{ person.zip_code }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Ville</b>
                <br>
                {{ person.city }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Pays</b>
                <br>
                {{ person.country }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Téléphone</b>
                <br>
                {{ person.phone_number }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Karma</b>
                <br>
                {% if person.note is not None %}
                    {{ person.note }}
                {% else %}
                    <span>Vous n'avez pas de note pour le moment :(</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div id="delete_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer mon profil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'profil-delete' %}">
                    <div class="modal-body text-center">
                        {% csrf_token %}
                        <p>Voulez vraiment supprimer votre profil ? Cette action est irréversible</p>
                        {% bootstrap_field formDelete.pseudo required_css_class='required'%}
                        {% bootstrap_field formDelete.password required_css_class='required'%}
{#                        <label for="pseudo">Pseudo</label>#}
{#                        <input type="text" id="pseudo" name="pseudo" required>#}
{#                        <label for="password">Mot de passe</label>#}
{#                        <input type="password" id="password" name="password" required>#}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-link" type="button" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">Annuler</span>
                        </button>
                        <button id="submit_button" type="submit" class="btn btn-primary">
                            Confirmer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


