{% extends 'persons/base_navbar.html' %}
{% load static %}

{% block title %}Profil{% endblock %}

{% block content %}
    <ul class="profil-tab nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profil-show-user' profil_person.pk %}">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profil-show-events' profil_person.pk %}">Events</a>
        </li>
    </ul>
    <div class="row my-3">
        <div class="col-md-8">
            <div>
                <h2 class="display-1">{{ profil_person.pseudo }}</h2>
                <p class="text-muted"> ({{ profil_person.person_type }})</p>
            </div>
            <img class="rounded-circle mr-5" height="70" width="70" src="{{ profil_person.imageProfil.url }}">

        </div>
    </div>

    <div class="row" >
        <div class="col-md-4">

            <p>
                <b>Prénom</b>
                <br>
                <span>{% if not profil_person.is_visible %} Informations non publiques {% else %} {{ profil_person.first_name }} {% endif %}</span>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Nom</b>
                <br>
                <span>{% if not profil_person.is_visible %} Informations non publiques {% else %} {{ profil_person.last_name }} {% endif %}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Email</b>
                <br>
               <span> {% if not profil_person.is_visible %}  Informations non publiques {% else %} {{ profil_person.user.email }} {% endif %}</span>
            </p>
        </div>


        <div class="col-md-4">
            <p>
                <b>Karma</b>
                <br>
                {% if profil_person.note is not None %}
                    {{ profil_person.note }}
                {% else %}
                    <span>Cette personne n'a pas de note pour le moment :(</span>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <b>Ville</b>
                <br>
                {{ profil_person.city }}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <b>Pays</b>
                <br>
                {{ profil_person.country }}
            </p>
        </div>
    </div>
{% endblock content %}

