{% extends 'persons/base_navbar.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil' %}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil-events' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil-registered_events' %}">Mes inscriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil-finished-events' %}">Mes inscriptions passées</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="row">
                        <h1 class="col-md-7">Mes Inscriptions passées</h1>
                        <div class="col-md-5 text-right">
                        </div>
                    </div>
                    {% for inscription in inscription_events %}
                        <div class="row">
                            <div class="col">
                                <h3>{{ inscription.event.title }} ({{ inscription.event.category }})</h3>
                                <p>{{ inscription.event.event_date|date:'d/m/Y à h:m' }}</p>
                                <p>{{ inscription.event.description }}</p>
                                <p>{{ inscription.event.address }}, {{ inscription.event.zip_code }}, {{ inscription.event.city }}</p>
                                <a class="text-success {% if not inscription %}disabled{% endif %}" data-toggle="modal" data-target="#close_modal">Noter</a>
                            </div>
                        </div>
                        <div id="close_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static"
                             data-keyboard="false">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Noter</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" action="{% url 'profil-rating-finished-events' inscription.event.pk inscription.event.person.pk %}">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% bootstrap_field form.note required_css_class='required' %}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-link" type="button" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">Annuler</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary">Confirmer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Il n'y a pas d'évenements pour le moment</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}