{% extends 'persons/base_navbar.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil' %}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil-events' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil-registered_events' %}">Mes inscriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profil-finished-events' %}">Mes inscriptions passées</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col mt-3">
                    <div class="row">
                        <h1 class="col-md-7">Mes Inscriptions passées</h1>
                        <div class="col-md-5 text-right">
                        </div>
                    </div>
                    {% for inscription in inscription_events %}
                        <div class="row">
                            <div class="col">
                                <h3>{{ inscription.event.title }} ({{ inscription.event.category }})</h3>
                                <p>Par {% if inscription.event.person.pk is not person.pk %}
                                    <a href="{% url 'profil-show-user' inscription.event.person.pk %}">{{ inscription.event.person.pseudo }}</a> {% else %}
                                    {{ inscription.event.person.pseudo }} {% endif %}
                                    le {{ inscription.event.event_date|date:'d/m/y à h:m' }}
                                </p>
                                <p>{{ inscription.event.description }}</p>
                                <p>{{ inscription.event.address }}, {{ inscription.event.zip_code }}, {{ inscription.event.city }}</p>
                                {% if inscription.getKarma %}
                                    <p class="text-success">{{ inscription.getKarma }}/10</p>
                                {% else %}
                                    <a class="text-success" data-toggle="modal"
                                       data-target="#rating_modal_{{ inscription.event.pk }}">Noter</a>
                                {% endif %}
                            </div>
                        </div>
                        <div id="rating_modal_{{ inscription.event.pk }}" class="modal fade" tabindex="-1" role="dialog"
                             data-backdrop="static"
                             data-keyboard="false">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Noter</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post"
                                          action="{% url 'profil-rating-finished-events' inscription.event.pk %}">
                                        <div class="modal-body">
                                            {% csrf_token %}
                                            {% bootstrap_field form.note required_css_class='required' %}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-link" type="button" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">Annuler</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary">Confirmer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Il n'y a pas d'évenements pour le moment</p>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <script>
        {#$(document).on("click", "#rating", function () {#}
        {#    console.log('CLICK')#}
        {#     var event_id = $(this).data('id');#}
        {#     $(".modal-body ").val( myBookId );#}
        {#     // As pointed out in comments,#}
        {#     // it is unnecessary to have to manually call the modal.#}
        {#     // $('#addBookDialog').modal('show');#}


        $(document).ready(function () {

            $('#rating').on('click', function (e) {
                console.log('CLICK')
                let id = $('#rating').attr('data-id')
                //let url = $(this).attr("href")
                if (id != null) {
                    //url = url + '?event=' + id
                    window.history.replaceState(null, null, "?event=" + id);
                }

            })

        })


    </script>
{% endblock %}
{% block extra_js %}
{% endblock %}